export AWS_ACCESS_KEY_ID=ABCDEF              # Not a real key ID
export AWS_SECRET_ACCESS_KEY=PQPRSPADAZDFA   # Not a real secret
export AWS_VPC_ID=vpc-123456                 # Not a real VPC ID
export AWS_DEFAULT_REGION=us-west-2          # Ok, fine... this is real
